@model Ecomm.Models.OrderDetail[]
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.User </td>
                        <td>@item.Name </td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
